html {
    scroll-behavior: smooth;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
.overlay {

    height: 668px;
}

.overlay > img, .h-text {
    position: relative;
    top: 33%;
}
.overlay > img, .welcome {
    margin-bottom: 30px;
}
.click {
    margin-top: 330px;
}
.jumbotron-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    height: 668px;
}
#bounce {
    animation: bounce 5s infinite;
}
