html {
    scroll-behavior: smooth;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
.overlay {

    height: 668px;
}

.overlay > img, .h-text {
    position: relative;
    top: 33%;
}
.overlay > img, .welcome {
    margin-bottom: 30px;
}
.click {
    margin-top: 330px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-55px);
    }
    60% {
        transform: translateY(-45px);
    }
}

.jumbotron-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    height: 668px;
}
.services {
    background-image: url("../images/backgrounds/s_image.jpg");
    height: 280px;
}

.services h1 {
    position: relative;
    top: 30px;
    margin-bottom: 20px;
}
#bounce {
    animation: bounce 5s infinite;
}
.about {
    height: 270px;
}

.about h1 {
    margin-top: 35px;
}